name: Check Markdown Links

on:
  pull_request:
    paths:
      - "**/*.md"

jobs:
  check-links:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: lycheeverse/lychee-action@v2
        with:
          args: --no-progress "**/*.md"
          fail: true
